@import 'https://code.highcharts.com/css/highcharts.css';

:root {
  --chart-bg: #222;
  --chart-axis: #DDD;
}

.highcharts-background {
  fill: var(--chart-bg);
}

.highcharts-title,
.highcharts-axis-title {
  fill: var(--chart-axis);
}

.highcharts-credits,
.highcharts-credits:hover {
  display: none;
}

#root {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #222;
    min-height: 400px;
    height:95%;
    width:95%;
    position:absolute;

}
