@import 'https://code.highcharts.com/css/highcharts.css';

:root {
  --chart-bg: #222;
  --chart-axis: #DDD;
}

.highcharts-background {
  fill: #222;
}

.highcharts-title,
.highcharts-axis-title {
  fill: #DDD;
}

.highcharts-credits,
.highcharts-credits:hover {
  display: none;
}
